/*---------------*/
/* line 5, main.scss */
html, body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* line 8, main.scss */
.container {
  max-width: 90%;
  margin: 0px auto;
}

/* line 13, main.scss */
header {
  text-align: center;
  margin-top: 280px;
}
/* line 17, main.scss */
header h1 {
  font-family: "Cabin", sans-serif;
  font-size: 75px;
  text-transform: uppercase;
  letter-spacing: .2em;
}
/* line 24, main.scss */
header h2 {
  margin-top: 20px;
  font-size: 1em;
  font-family: "Source Sans Pro", sans-serif;
  text-transform: uppercase;
  letter-spacing: .3em;
  color: #b6b6b6;
}
/* line 33, main.scss */
header ul.nav-social {
  margin-top: 100px;
}
/* line 36, main.scss */
header ul.nav-social a {
  text-decoration: none;
}
/* line 42, main.scss */
header ul.nav-social li {
  padding: 20px;
  display: inline;
  text-indent: -9999px;
}
/* line 48, main.scss */
header ul.nav-social li img {
  width: 50px;
  opacity: .74;
}
/* line 51, main.scss */
header ul.nav-social li img:hover {
  opacity: .4;
}
