body {
	font-family: 'Brawler', serif;
	font-size: 13px;
}

h1,  #nav-header, #nav-footer, #copyright, label {
	text-transform: uppercase;
	font-family: 'Questrial', sans-serif;
}	
h2 {
	font-family: 'Questrial', sans-serif;
}


a {
	text-decoration: none;
	color: #000;
}

img {
	width:100%;
}
p {
	line-height: 1.3em;
}
/*-------Header Box---------*/

header {
	text-align: center;
}

header h1 {
	font-size: 55px;
	padding-top: 60px;
	padding-bottom: 5px;
}

header h2 {
	font-size: 20px;
	padding-bottom: 55px;
}

#nav-header span,
#nav-footer span {
	color: #7A7A7A;
}

#body-header nav {
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	padding-top: 6px;
	padding-bottom: 5px;
	font-size: 17px;
	text-align: center;
}

#body-header nav li {
	display: inline;
	width: 150px;
	margin: 0 15px;
}

#body-header nav a {
	display: inline-block;
	-webkit-transition: all .3s ease;
	transition: all .3s ease;
}

#body-header nav a:hover,
#body-header nav a:focus{
	font-size:15px;
}
/*------Content Box-----------*/

.first-section {
	margin-top: 35px;
}

#portfolio-section h1{
	font-size: 16px;
	margin-bottom: 10px;
}
.main-image {
	width:100%;
	height:auto;
	margin-top:10px;
}

.sub-images {
	margin: 0 auto;
}

.sub-images {
  height: 125px;
  text-align: justify;
  margin-top: 4px;
}

.sub-images img {
  width: 170px;
  height: auto;
  display: inline-block;
}

.sub-images:after {
  content: '';
  width: 100%; /* Ensures there are at least 2 lines of text, so justification works */
  display: inline-block;
}

/*------footer-------*/

#nav-footer {
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 17px;
	text-align: center;
	margin-bottom: 15px;
	margin-top:25px;
}

#nav-footer li {
	display: inline;
	width: 150px;
	margin: 0 15px;
}

#nav-footer a {
	display: inline-block;
	-webkit-transition: all .3s ease;
	transition: all .3s ease;
}


#nav-footer  a:hover,
#nav-footer  a:focus{
	font-size: 15px;
}

#copyright {
	font-size:10px;
	text-align:center;
	text-transform: uppercase;
	margin-bottom: 15px;
}




/*---------about.html-----------*/
.section-about {
	margin-top: 15px;
}

#about-image-main img{
	margin-top:15px;
	margin-bottom:15px;
}

.p-italic {
	font-family: 'Arapey', serif;
	font-style: italic;
	font-size:14px;
	color: #444;
}

#about-image-main img:nth-of-type(2){
	margin-top:-5px;
	margin-bottom:15px;
}

/*---------contact.html-----------*/

#form-div {
	margin-bottom:50px;
	margin-top:50px;
	margin-left:11.5%;
}

.span-label {
	float: left;
	text-align: right;
	margin-right: 15px;
	width: 100px;
	text-transform: uppercase;
	padding-top:5px;
	font-size:14px;
}

.form-section input[type=text],
.form-section input[type=email] {
	width:300px;
	height:20px;
	margin-top:2px;
	margin-bottom:2px;
	font-family: 'Questrial', sans-serif;
	 font-size:14px;
}

.form-section input[name=textarea] {
	width: 300px;
	height: 200px;
	font-family: 'Questrial', sans-serif;
	 font-size:14px;
}

.form-section input[type=submit]{
	margin-left: 353px;
    background-color:#000;
    border:1px solid #919191;
    color:#fff;
    font-size:14px;
    font-family: 'Questrial', sans-serif;
    padding:6px 15px;
    text-transform: uppercase;
    text-decoration:none;
 }
 
 .form-section input[type=submit]:hover,
 .form-section input[type=submit]:focus{
 	background:#444;
 }

 #icon-images {
 	display:inline;
 	
 }

 #icon-images img{
 	height: 30px;
 	width: auto;
 	margin-top:15px;
 	margin-right:5px;
 }

 #icon-images img:hover,
 #icon-images img:focus{

 }



 #icon-images img:nth-of-type(3){
 	height: 32px;
 	width: auto;
 	
 }


/*-------MEDIA QUERIES----------*/


/*------Phone--------*/
@media screen and (max-width : 480px) {

	body {
		width: 90%;
		margin:auto;
		font-size:11px;
	}
	header h1 {
		font-size: 40px;
		padding-top: 40px;
	}
	header h2 {
		font-size: 18px;
		padding-bottom: 30px;
		margin-top:-2px;
	}
	 
	#body-header nav {
		font-size: 14px;
		text-align: center;
	}

	#body-header nav li {
		margin: 0 8px;
	}

	#nav-footer {
	font-size: 14px;
	text-align: center;
	}

	.sub-images {
		display:none;
	}

	.sub-images img {
	  	width: 50;
	  	height: auto;
	  	display: inline-block;
	}

	#portfolio-section h1,
	#portfolio-section p{
		display:none;
	}

	.p-italic {
	font-size:12px;
	}
	
	#form-div {
	margin-bottom:50px;
	margin-top:50px;
		margin-left:10%;
	}

	.span-label {
	float: left;
	text-align: right;
	margin-right: 10px;
	width: 65px;
	
	}
	
	.form-section input[type=text],
	.form-section input[type=email] {
		width:60%;
		height:90%;
		margin-top:2px;
		margin-bottom:2px;
		font-family: 'Questrial', sans-serif;
		font-size:14px;
	}

	.form-section input[name=textarea] {
		width:60%;
		height: 200px;

	}

	.form-section input[type=submit]{
		margin-left:66%;
		font-size:12px;
	   
	 } 
}

/*------Tablet--------*/

@media screen and {max-width:  }











